<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns:og="http://ogp.me/ns#">
	<head>
		<title>Schloss Sample</title>
		<link rel='stylesheet' href='/css/styles.css' type='text/css'>
		<link rel='stylesheet' href='/css/syntax-highlighting.css' type='text/css'>
		<link rel="icon" type="image/gif" href="/images/icon_145x41.bmp">
		<meta name="robots" content="index,follow" />
		<meta name="language" content="en" />
		<meta name="keywords" content="in risus ut ex ullamcorper">
		<meta name="description" content="Nam ac laoreet.">
		<meta http-equiv='Content-Type' content='text/html;charset=utf-8' />
		<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
		<meta property="og:title" content="finibus vel vel" />
		<meta property="og:image" content="/images/logo_325x97.png" />
		<meta property="og:description" content="Duis malesuada, est non elementum congue." />
		<meta property="og:site_name" content="schloss" />
		<meta property="og:type" content="website" />
		<link href="https://fonts.googleapis.com/css?family=Cutive+Mono|Roboto:400,700,900" rel="stylesheet">
		<script src="/js/jquery.min.js"></script>
	</head>
